pipeline/MasterPipeLine.json
{
	"name": "MasterPipeLine",
	"properties": {
		"activities": [
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select table_schema , table_name from information_Schema.tables",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "test",
							"Table": "test"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(equals(item().table_schema , 'sys'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Execute Pipeline2",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Child",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"Schema": {
													"value": "@{item().table_schema}",
													"type": "Expression"
												},
												"Table_Name": {
													"value": "@{item().table_name}",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "VarPipeLine",
					"value": {
						"value": "@pipeline().Pipeline",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"VarPipeLine": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-06-15T10:05:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}